<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    {{ with ($.Scratch.Get "authorPicture") }}
      <div class="sidebar-profile">
        <a href="{{ if $.Site.Params.sidebar.profile.url }}{{ $.Site.Params.sidebar.profile.url }}{{ else }}{{ "/#about" }}{{ end }}">
          <img class="sidebar-profile-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
        </a>
        <h4 class="sidebar-profile-name">{{ $.Site.Author.name }}</h4>
        {{ with $.Site.Author.bio }}
          <h5 class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    {{ end }}
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.links "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}
    </ul>
    
    <ul>
    <style>
    #customize-list{
      float:left;
      margin-left:50px;
      list-style:none;
    }
    #gr_updates_widget{
    float:center;
    border-radius: 5px;
    background-color:#fff;
    border:none
    -webkit-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    -moz-box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    box-shadow: 0px 0px 4px 1px #595959,
    inset 0px 0px 0px 1px #7D730B;
    padding:15px 0 0px 15px;
    width:150px;
    height:365px;
    }
    #gr_footer{
    margin-bottom:0px;
    height:30px;
    }
    #gr_updates_widget p{
    padding:0px;
    margin:0;
    font-size:14px;
    }
    #gr_footer img{
    width:100px;
    float:left;
    }
    </style>
    <div id="gr_updates_widget">
      <iframe id="the_iframe" src="https://goodreads.com/widgets/user_update_widget?height=400&num_updates=1&user=31308692&width=150" width="148" height="330" frameborder="0"></iframe>
          <div id="gr_footer">
            <a href="https://www.goodreads.com/"><img alt="Goodreads: Book reviews, recommendations, and discussion" src="https://www.goodreads.com/images/layout/goodreads_logo_140.png" /></a>
          </div>
    </div>
    </ul>


  </div>
</nav>
